
    .treeview-animated.w-20 {
        width: 20rem;
        font-size: 14px;
      }
  
      .treeview-animated h6 {
        font-size: 1.4em;
      }
  
      .treeview-animated ul {
        position: relative;
        list-style: none;
        padding-left: 1em;
      }
  
      .treeview-animated-list li {
        padding: 0.2em 0 0 0.2em;
      }
  
      .treeview-animated-element {
        padding: 0.2em 0.2em 0.2em 0.6em;
        cursor: pointer;
        transition: all .1s linear;
        border-bottom-left-radius: 4px;
        border-top-left-radius: 4px;
      }
  
      .treeview-animated-element:hover {
        background-color: rgb(140, 185, 255);
      }
  
      .treeview-animated-element.opened {
        color: #f8f9fa;
        background-color: rgb(50, 160, 255);
      }
  
      .treeview-animated-element.opened:hover {
        color: #f8f9fa;
        background-color: rgb(50, 160, 255);
      }
  
      .treeview-animated-items .nested::before {
        content: "";
        display: block;
        position: absolute;
        background-color: grey;
        left: 5px;
        width: 5px;
        height: 100%;
      }
  
      .treeview-animated-items .closed {
        display: block;
        padding: 0.2em 0.2em 0.2em 0.4em;
        margin-right: 0;
        border-top-left-radius: 0.3em;
        border-bottom-left-radius: 0.3em;
      }
  
  
      .treeview-animated-items .closed:hover {
        background-color: rgb(140, 185, 255);
      }
  
      .treeview-animated-items .open {
        transition: all .1s linear;
        background-color: rgb(50, 160, 255);
      }
  
      .treeview-animated-items .open span {
        color: #f8f9fa;
      }
  
      .treeview-animated-items .open:hover {
  
        color: #f8f9fa;
        background-color: rgb(50, 160, 255);
      }
  
      .treeview-animated ul li .open div:hover {
        background-color: rgb(50, 160, 255);
      }
  
      .treeview-animated-items .closed .fa-angle-right {
        transition: all .1s linear;
        font-size: .8rem;
      }
  
      .closed .fa-angle-right.down {
        position: relative;
        color: #f8f9fa;
        transform: rotate(90deg);
      }